stages:
  - test

test:
  stage: test
  script:
    - poetry install
    - poetry run tox
  artifacts:
    paths:
      - coverage.xml # Ajoutez ici le chemin vers le fichier de couverture des tests généré par Tox
  coverage: '/^\s*TOTAL\s+\d+\s+\d+\s+(\d+\%)$/'
  only:
    - main
